//- Common files
script(src="/scripts/ws.common-min.js")
script(src="/scripts/others/wow.min.js")

//- Facebook js
script(src="https://connect.facebook.net/en_US/all.js")

//- Vendor files
script(src="/scripts/ws.vendor-min.js")

//- Website Global files
script(src="/scripts/ws.global-min.js")

//- All services here
script(src="/scripts/services-min.js")

//- App controllers and all 
script(src="/scripts/ws.app-min.js")