script(type="text/javascript", src="/scripts/ap.vendor-min.js")
script(type="text/javascript", src="/scripts/ap.global-min.js")
script(type="text/javascript", src="/scripts/services-min.js")
script(type="text/javascript", src="/scripts/ap.app-min.js")

